.todolist {
    width: 636px;
    box-sizing: border-box;
}

.todolist_block {
    width: 100%;
    box-sizing: border-box;
    padding-top: 34px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.todolist_main_info {
    display: flex;
    justify-content: space-between;
    font-family: Inter sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.todolist_title {
    color: #4EA8DE;
    display: flex;
}

.todolist_create_new {
    font-family: Inter sans-serif;
    font-size: 14px;
    color: #8284FA;
    background-image: linear-gradient(45deg, currentColor 60%, #4bc8eb);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

.todolist_create_new:hover {
    background-size: 100% 2px;
}

.add_task_form {
    position: relative;
    display: flex;
    top: -22px;
    width: 636px;
    height: 44px;
    box-sizing: border-box;
    gap: 8px;
}

.add_task_form input {
    width: 638px;
    border: 1px solid #0D0D0D;
    border-radius: 10px;
    color: #808080;
    background-color: #262626;
    outline: none;
    text-align: center;
    font-family: Inter sans-serif;
    letter-spacing: 0.6px;
    font-size: 16px;
}

.add_task_form input::-webkit-input-placeholder {
    color: white;
    opacity: 0.1;
}

.add_task_form button {
    width: 90px;
    height: 52px;
    border-radius: 10px;
    color: #F2F2F2;
    background-color: #1E6F9F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-family: Inter sans-serif;
    letter-spacing: 0.6px;
    font-size: 16px;
}

.active_filter {
    background-color: #4bc8eb;
}

.remove_button {
    padding-left: 5px;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filters button {
    margin: 10px 0 10px 0;
    border: none;
    width: 33%;
    background-color: #1E6F9F;
    border-radius: 5px;
    cursor: pointer;
    font-family: Inter sans-serif;
    font-size: 14px;
    color: #F2F2F2;
}
