li {
    list-style-type: none;
}

h1,h2,h3,h4,ul,input {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

